<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <transition-group>
        <li v-for="item in dataArray" v-bind:key="item">{{item}}</li>
      </transition-group>
      <label><input v-model="addItem" placeholder="追加するリスト"></label>
      <button v-on:click="addList">追加</button>
      <button v-on:click="removeLast">最後の一つを削除</button>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          dataArray: ['桃太郎','かぐや姫','かちかち山'],
          addItem: ''
        },
        methods: {
          addList: function(){
            this.dataArray.push(this.addItem);
            this.addItem = '';
          },
          removeLast: function(){
            var lastIdx = this.dataArray.length -1;
            this.dataArray.splice(lastIdx, 1);
          }
        }
      })
    </script>
    <style>
      .v-enter-active, .v-leave-active{
        transition: 0.5s;
      }
      .v-enter, .v-leave-to{
        opacity: 0;
        transform: translateX(50px);
      }
    </style>
  </body>
</html>
